// :root {
//     --main-bg: #1e1e2d;
//     --main-icon: #fff;
//     --main-master-color: #fff;
//     --main-header: #1a1a27;
//     --main-color: #fff;
//   }
body{
    font-size: 13px;
}
:root[theme='dark'] {
    --main-bg: #1e1e2d;
    --main-icon: #fff;
    --main-master-color: #fff;
    --main-header: #1a1a27;
    --main-color: #fff;
}
:root[theme='light'] {
    --main-bg: #fff;
    --main-icon: #565656;
    --main-header: #fff;
    --main-master-color: #000;
    --main-color: #fff;
}
.sidebar-nav #sidebarnav .sidebar-item.selected > .sidebar-link {
    border-radius: 4px;
    color: #fff !important;
    height: 49px;
    width: 49px;
    margin-left: 10px !important;
    // background: linear-gradient(to right, #8971ea, #7f72ea, #7574ea, #6a75e9, #5f76e8);
    background: linear-gradient(118deg, rgb(115, 103, 240), rgba(115, 103, 240, 0.7));
    // box-shadow: 0px 7px 12px 0px rgba(95, 118, 232, 0.21);
    box-shadow: rgba(115, 103, 240, 0.7) 0px 0px 10px 1px;
    opacity: 1;
    // padding: 0 0 0 22px;
    // padding: 4px 10px 1px 16px
    padding: 0;
    // padding-top: 4px;
    // background-color: #beb9f1;
}
.btn{
    border-radius: 6px;
    font-size: 15px;
}
.form-control{
    border-radius: 5px;
    border: 1px solid #E1E5E6;
    font-size: 13px;
    // border: 1px solid #e9ecef;
}
label{
    padding-left: 5px;
    font-size: .85rem;
    margin-bottom: -5px;
    // color: rgba(0,0,0,.7);
}
.page-wrapper{
    // background-color: #f8f8f8;
    background-color: rgb(248, 248, 248);
    // background-color: rgb(250, 251, 253);
}
#main-wrapper[data-layout="vertical"] .topbar .navbar-collapse[data-navbarbg="skin6"], #main-wrapper[data-layout="vertical"] .topbar[data-navbarbg="skin6"], #main-wrapper[data-layout="horizontal"] .topbar .navbar-collapse[data-navbarbg="skin6"], #main-wrapper[data-layout="horizontal"] .topbar[data-navbarbg="skin6"]{
    background-color: rgb(248, 248, 248, 0.9);
    // background-color: rgb(250, 251, 253, 0.9);
}
.custom-radius{
    border-radius: 60px;
}
.nav-small-cap{
    color: #999;
}
.linear-primary{
    background: linear-gradient(118deg, rgb(115, 103, 240), rgba(115, 103, 240, 0.7));
}
.card{
    // box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    box-shadow: 1px 4px 15px 0 rgba(0, 0, 0, 0.061);
    -webkit-transition: all .3s ease-in-out;
}
.page-wrapper > .container-fluid {
    padding: 32px;
    padding-top: 23px;
}
.h4, h4 {
    font-size: 18.48px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #2c2c2c;
}
.brd-icon{
    width: 18px;
    margin-top: -4px;
    font-weight: 500;
}
.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"], #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] {
    background: #fff;
}
// CUSTOM CSS
#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .nav-small-cap, #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .nav-small-cap{
    color: var(--main-master-color);
}
#main-wrapper[data-layout="vertical"] .topbar .top-navbar .navbar-header[data-logobg="skin6"], #main-wrapper[data-layout="horizontal"] .topbar .top-navbar .navbar-header[data-logobg="skin6"] {
    background: var(--main-header);
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6], #main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] {
    background: var(--main-bg);
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item .sidebar-link .feather-icon, #main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item .sidebar-link i, #main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item .sidebar-link .feather-icon, #main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item .sidebar-link i{
    color: var(--main-icon);
}
.error{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
.btn.btn-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
}
.btn.btn-icon {
    height: 2rem;
    width: 2rem;
}
.btn-rounded {
    border-radius: 2em !important;
}
.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}
.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}
.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}
.label-container{
    position:fixed;
    bottom:48px;
    right:105px;
    display:table;
    visibility: hidden;
}
.label-text{
    color:#FFF;
    background:rgba(51,51,51,0.5);
    display:table-cell;
    vertical-align:middle;
    padding:10px;
    border-radius:3px;
}
.label-arrow{
    display:table-cell;
    vertical-align:middle;
    color:#333;
    opacity:0.5;
}
.float{
    position:fixed;
    width:52px;
    height:52px;
    bottom:30px;
    right:30px;
    background-color:#F33;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:1000;
    animation: bot-to-top 2s ease-out;
}
ul.floater{
    position:fixed;
    right:30px;
    padding-bottom:15px;
    bottom:65px;
    z-index:100;
}
ul.floater li{
    list-style:none;
    margin-bottom:10px;
}
ul.floater li a{
    background-color:#F33;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    width:52px;
    height:52px;
    display:block;
}
ul.floater:hover{
    visibility:visible!important;
    opacity:1!important;
}
.my-float{
    font-size:22px;
    margin-top:15.5px;
}
a#menu-share + ul.floater{
    visibility: hidden;
}
a#menu-share:hover + ul.floater{
    visibility: visible;
    animation: scale-in 0.5s;
}
a#menu-share i{
    animation: rotate-in 0.5s;
}
a#menu-share:hover > i{
    animation: rotate-out 0.5s;
}
@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}
@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}
@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}
.table th, .table td {
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid #e8eef3;
}
.table thead th, .table th {
    font-weight: 500;
    vertical-align: middle;
}
.sidebar-nav #sidebarnav .sidebar-item .sidebar-link {
    color: #fff;
    font-size: 17px;
    // padding: 12px 30px;
    padding: 10px 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    line-height: 27px;
    opacity: .7;
    margin-right: auto;
    transition: all 0.1s ease;
}
.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
    padding: 0px 15px;
    font-size: 15px;
    line-height: 80px;
}
table.dataTable {
    margin-top: 16px !important;
    width: 100% !important;
}
.table thead tr td{
    font-weight: 500;
}
#main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"] .left-sidebar {
    position: fixed;
    width: 70px;
}
.hide-menu{
    display: none;
}
.sidebar-nav #sidebarnav .list-divider {
    height: 3px;
    background: #818181;
    display: block;
    margin: 10px 0 20px 10px;
    opacity: .1;
    width: 50px;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="full"] .topbar .top-navbar .navbar-header {
    width: 70px;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="full"] .page-wrapper {
    margin-left: 70px;
}
#main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="full"] .topbar .top-navbar .navbar-collapse {
    margin-left: 102px;
    background-color: white;
    margin-right: 31px;
    border-radius: .5rem;
    height: 50px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
    margin-top: 20px;
}
#main-wrapper[data-layout="vertical"][data-header-position="fixed"] .page-wrapper {
    padding-top: 65px;
}
.topbar .top-navbar .navbar-header .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0 0px 0 4px;
    height: 80px;
}
.tooltips {
    position: relative;
    display: inline-block;
    color: #006080;
}
.tooltips .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: auto;
    background-color:  var(--main-bg);;
    color: var(--main-icon);;
    text-align: center;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    /* border-radius: 0.5rem; */
    z-index: 999999999999999999;
    opacity: 0.95;
    transition: opacity 0.3s;
}
.tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 0.95;
}
.tooltip-right {
  top: 4px;
  left: 115%;
}
.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    opacity: 0;
    transform-origin:left;
    transition:width 0.25s ease;
    /* border-color: transparent var(--main-bg) transparent transparent; */
}
.ps-container {
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}
.sidebar-nav #sidebarnav .nav-small-cap {
    font-size: 12px;
    padding: 0px 0px 0px 19px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 30px;
    color: #fff;
    opacity: 1;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
}
.sidebar-nav #sidebarnav .sidebar-item .sidebar-link .feather-icon, .sidebar-nav #sidebarnav .sidebar-item .sidebar-link i {
    font-style: normal;
    height: 20px;
    width: 20px;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.page-breadcrumb {
    padding: 25px 35px 0;
}
.tooltip > .tooltip-inner {
    // visibility: hidden;
    // position: absolute;
    width: auto;
    // background-color:  var(--main-bg);;
    background-color:  #1a1a27;
    // color: var(--main-icon);;
    color: #fff;
    text-align: center;
    // padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    /* border-radius: 0.5rem; */
    z-index: 999999999999999999;
    opacity: 0.99;
    transition: opacity 0.3s;
    border-radius: 0;
    font-size: 16px;
}
.table-borderless-0 td, .table-borderless-0 th {
    border: none;
}
.bg-aqua{
    background-color: #74b9ff !important;
}
.bg-orange{
    background-color: #fdcb6e !important;
}
.text-black{
    color: black;
}
.topbar .top-navbar {
    padding: 0px;
    height: 70px !important;
    min-height: 70px !important;
}
.custom-radius {
    border-radius: 60px !important;
}
table{
    font-size: 13px !important;
}
.text-middle{
    vertical-align: middle !important;
}
.footer {
    padding: 15px 20px;
    padding-top: 30px;
}
svg {
    overflow: hidden;
    vertical-align: baseline;
}
.dropdown-item {
    font-size: 13px;;
}
.topbar .user-dd {
    min-width: 240px;
}
